/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #ff0000;
    color: white;
}

.body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255)  ;
}

/* Enlace flotante */
.link_estatico {
    position: fixed;
    top: 30px;
    right: 20px;
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    z-index: 1000;
}

.link_estatico img {
    width: 65px; 
    height: 65px;
    display: block; 
}


/* Layout principal */
.disposicion {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 20px;
    padding: 20px;
}

/* Menú */

.menu {
    background-color: white;
    padding: 25px;
    border-radius: 14px;
    align-self: start;
    position: sticky;
    top: 30px;
}

.menu ul {
    list-style: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
}

.menu li {
    margin-bottom: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}

.menu a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
/* Contenido */

.contenido{
    background-color: #cecece;
}
/* Galería */


.galeria-tabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.galeria-tabla img { 
    width: 100%;        /* Ocupa todo el ancho de su columna */
    height: 200px;      /* FUERZA una altura fija igual para todas */
    object-fit: cover;  /* Recorta la imagen para llenar el hueco sin deformar */
    border-radius: 5px; 
    display: block;     /* Elimina huecos extraños debajo de la imagen */
}

/* Lugares */
.lugares-tabla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.lugar img {
    width: 100%;        /* Ocupa todo el ancho de su columna */
    height: 200px;      /* FUERZA una altura fija igual para todas */
    object-fit: cover;  /* Recorta la imagen para llenar el hueco sin deformar */
    border-radius: 5px; 
    display: block;     /* Elimina huecos extraños debajo de la imagen */
}

/* Noticias */
.noticias {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}
.noticia {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.noticia img {
    width: 100%;
    height: 200px;      /* FUERZA una altura fija igual para todas */
    object-fit: cover;  /* Recorta la imagen para llenar el hueco sin deformar */
    border-radius: 5px; 
    display: block;     /* Elimina huecos extraños debajo de la imagen */
}

/* Mapa */
.contenedormapa{
    display: flex;           
    flex-direction: column;  
    align-items: center;    
    width: 100%;             
}

/* Bootstrap */

.carousel-item{
    width: 100%;
    height: 450px;      /* FUERZA una altura fija igual para todas */
    object-fit: cover;  /* Recorta la imagen para llenar el hueco sin deformar */
    border-radius: 5px; 
    display: block;     /* Elimina huecos extraños debajo de la imagen */
}


/* TABLET */
@media (max-width: 1024px) {
    .layout {
        grid-template-columns: 1fr 2fr;
    }

    .noticias {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria-tabla {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MÓVIL */
@media (max-width: 600px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .galeria-tabla,
    .lugares-tabla,
    .noticias {
        grid-template-columns: 1fr;
    }
}
