/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(211, 210, 210)  ;
}

/* Enlace flotante */
.link_estatico {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #ff9800;
    color: white;
    padding: 10px;
    text-decoration: none;
    z-index: 1000;
}

/* Layout principal */
.disposicion {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 20px;
    padding: 20px;
}

/* Menú */

.menu ul {
    list-style: none;
}

.menu li {
    margin-bottom: 10px;
}
/* Contenido */

.contenido{
    background-color: #f4f4f4;
}
/* Galería */
.galeria-tabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.galeria-tabla img {
    width: 100%;
}

/* Lugares */
.lugares-tabla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.lugar img {
    width: 100%;
}

/* Noticias */
.noticias {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}
.noticia {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.noticia img {
    width: 100%;
}

/* Mapa */
.mapa {
    width: 100%;
    margin-top: 10px;
}

/* TABLET */
@media (max-width: 1024px) {
    .layout {
        grid-template-columns: 1fr 2fr;
    }

    .noticias {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria-tabla {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MÓVIL */
@media (max-width: 600px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .galeria-tabla,
    .lugares-tabla,
    .noticias {
        grid-template-columns: 1fr;
    }
}
